<div class="card">
  <div class="card-header p-1">
    <h3 class="card-title mb-0"> Employees_table </h3>
  </div>

  <style>
  </style>

  <div class="card-body p-0">
    <table class="table table-hover table-sm mb-0">
      <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th colspan="3">Action</th> 
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
          <td><%= link_to employee.name, company_employee_path(@company, employee.id),class:"employee" %></td>
          <td> <%= employee.email%> </td>
          <td> <%= employee.contact %> </td>
          <td><%= link_to "Edit",edit_company_employee_path(@company,employee.id),class:"btn btn-outline-success px-2 py-0 "%></td>
          </tr>
        <%end %>  
      </tbody>
    </table>
  </div>

  <div class="card-footer m-0">
    <div class="mt-0">
      <%= link_to 'New Employee',new_company_employee_path(@company),class:"btn btn-outline-primary"%>
      <%= link_to "Back Company",company_path(@company),class:"btn btn-outline-primary" %>
    </div>
  </div>

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
</div>


