<div class="card">
  <div class="card-header">
  <h3 class="card-title mb-0">Empolyee Details</h3>
  </div>

  <style>
    {
    width: 50%;
    }
  </style>

  <div class="card-body p-0">
    <table class="table table-hover table-sm mb-0">
    <tbody>
    <div>
      <tr>
      <th><strong>Name:</strong></th>
      <td> <%= @employee.name%></td>
      </tr>
    </div>

    <div>
      <tr>
      <th><strong>Email:</strong></th>
      <td><%=@employee.email %> </td>
      </tr>
    </div>

    <div>
      <tr>
      <th><strong>Contact:</strong></th>
      <td><%=@employee.contact %></td>
      </tr>
    </div>
    </tbody>
    </table>
  </div>

  <div class="card-footer">
    <div>
      <%= link_to "Back",company_employees_path(@company,@employee),class:"btn btn-outline-primary" %>
      <%= link_to "Edit",edit_company_employee_path(@company,@employee),class:"btn btn-outline-primary" %>
    </div>

    <div class="mt-2  ">
      <td> <%= link_to "Delete", company_employee_path(@company,@employee), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?" },class:"btn btn-outline-danger" %> </td>
    </div>
  
  <% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
  <% end %>
</div>  