<%= form_with model: @company do  |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :owner_name %><br>
    <%= form.text_field :owner_name %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.submit %>
  </div>
 <% end %>