<h1>Welcome to <%= @company.name %> Dashboard</h1>

<h2>Product Details</h2>
<ul>
  <% @products.each do |product| %>
    <li><%= product.product_name %>
     <%= product.price %></li>
  <% end %>
  <%= link_to "product", company_products_path(@company)%>
  <%= link_to "employee",company_employees_path(@company)%>
</ul>