<div class="card">
  <div class="card-header">
    <h3 class="card-title">Company Details</h3>
  </div>
   <style>
   </style>
  <div class="card-body p-0">
    <table class="table table-hover table-sm table-bordered mb-0">
      <tbody>
        <tr>
          <th class="col-md-6"><strong>Name:</strong></th>
          <td class="col-md-6"><%= @company.name %></td>
        </tr>
        <tr>
          <th class="col-md-6"><strong>Owner Name:</strong></th>
          <td class="col-md-6"><%= @company.owner_name %></td>
        </tr>
        <tr>
          <th class="col-md-6"><strong>Address:</strong></th>
          <td class="col-md-6"><%= @company.address %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="mt-1">
      <%= link_to "Back", companies_path, class: "btn btn-outline-primary" %> 
      <%= link_to "Edit", edit_company_path, class: "btn btn-outline-primary" %><br>
    </div>
    <div class="mt-2">
      <%= link_to "Show Employee", company_employees_path(@company), class: "btn btn-outline-primary" %>
      <%= link_to "Show Product", company_products_path(@company), class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
