<!DOCTYPE html>
<html>
  <head>
    <title>Crmproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand text-light" href="#">CrmProject</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Home <span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" href="#">Features</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-light " href="#">About</a>
      </li>
    </ul>
   </div>  
    
  
    <ul class="navbar-nav">
    <li class= "nav-item">
     <%= link_to "Sign up","#",class:"nav-link text-light" %>
    </li>
 
    <li class= "nav-item">
     <%= link_to "Logout","#", class:"nav-link text-light" %>
    </li>
    </ul>
    </nav>

  <%= yield %>

  </body>
</html>




<!-- <ul class="navbar-nav">
    <li class= "nav-item">
     <%= link_to "Sign up",class:"nav-link  text-light" %>
    </li>
 
    <li class= "nav-item">
     <%= link_to "Logout",class:"nav-link  text-light" %>
    </li>
    </ul> -->
